---
import Layout from "@/layouts/Layout.astro";
import { getPosts } from "@/utils/getPosts";
import { getSortedPosts } from "@/utils/getSortedPosts";
import PostCard from "@/components/PostCard.astro";

const posts = await getPosts();
const sortedPosts = getSortedPosts(posts);
---

<Layout title="TOP" seo={{ openGraph: { type: "website" } }}>
  <section class="content">
    {
      sortedPosts.map((post) => {
        return (
          <PostCard
            slug={post.slug}
            publishDate={post.data.publishDate}
            updateDate={post.data.updateDate}
            title={post.data.title}
            tags={post.data.tags}
          />
        );
      })
    }
  </section>
</Layout>
<style>
  .content {
    @apply p-2;
  }

  .heading_text {
    @apply text-2xl font-bold;
    @apply mb-3;
  }
</style>
