---
import { cdate } from "@/lib/cdate";
import Tag from "./Tag.astro";
import { Icon } from "astro-icon/components";

interface Props {
  publishDate: Date;
  updateDate?: Date;
  slug: string;
  title: string;
  tags: string[];
}

const { publishDate, updateDate, slug, title, tags } = Astro.props;

const publishAt = cdate(publishDate).format("YYYY年M月D日");
const updateAt = updateDate && cdate(updateDate).format("YYYY年M月D日");
---

<article class="mb-6">
  <h2>
    <a href={`/blog/${slug}`} class="link link-primary text-2xl font-bold">
      {title}
    </a>
  </h2>

  <div class="flex items-center gap-2">
    <span class="flex items-center gap-0.5"
      ><Icon name="ic:baseline-access-time" />{publishAt}</span
    >
    {
      updateAt && (
        <span class="flex items-center gap-0.5">
          <Icon name="ic:baseline-update" />
          {updateAt}
        </span>
      )
    }
  </div>
  <div class="space-x-1">
    {tags.map((tag) => <Tag name={tag} small />)}
  </div>
</article>
