---
import type { CollectionEntry } from "astro:content";
import { cdate } from "@/lib/cdate";
import { getDescription } from "@/utils/getDescription";
import { Icon } from "astro-icon/components";
import Tag from "./Tag.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { publishDate, updateDate, title, tags } = Astro.props.post.data;

const publishAt = cdate(publishDate).format("YYYY年M月D日");
const updateAt = updateDate && cdate(updateDate).format("YYYY年M月D日");
const description = getDescription(Astro.props.post);
---

<article class="mb-6">
  <h2 class="mb-1">
    <a
      href={`/blog/${Astro.props.post.slug}`}
      class="link link-primary text-2xl font-bold"
    >
      {title}
    </a>
  </h2>

  <div class="mb-1 flex items-center gap-2 text-sm">
    <span class="flex items-center gap-0.5"
      ><Icon name="ic:baseline-access-time" />{publishAt}</span
    >
    {
      updateAt && (
        <span class="flex items-center gap-0.5">
          <Icon name="ic:baseline-update" />
          {updateAt}
        </span>
      )
    }
  </div>
  <div class="mb-1 space-x-1">
    {tags.map((tag) => <Tag name={tag} small />)}
  </div>
  <p class="mb-1 text-sm">{description}</p>
  <a href={`/blog/${Astro.props.post.slug}`} class="link">全文を見る</a>
</article>
