---
import type { CollectionEntry } from "astro:content";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import PostCard from "@/components/PostCard.astro";
import { SITE_TITLE } from "@/config";
import Drawer from "@/layouts/Drawer.astro";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import { getPosts } from "@/utils/getPosts";
import { getPostsByTag } from "@/utils/getPostsByTag";
import { getUniqueTags } from "@/utils/getUniqueTags";

interface Props {
  posts: CollectionEntry<"blog">[];
  tag: string;
}

export const getStaticPaths = async () => {
  const posts = await getPosts();
  const tags = getUniqueTags(posts);

  return tags.map((tag) => {
    return {
      params: {
        tag,
      },
      props: {
        tag,
        posts: getPostsByTag(posts, tag),
      },
    };
  });
};

const { tag, posts } = Astro.props;
---

<Layout title={`タグ: ${tag} | ${SITE_TITLE}`}>
  <Drawer>
    <Header />
    <Main title={`タグ: ${tag}`} description=`タグ: ${tag}の記事一覧です。`>
      {
        posts.map((post) => {
          return <PostCard post={post} />;
        })
      }
    </Main>
    <Footer />
  </Drawer>
</Layout>
