---
import Layout from "./Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Tag from "@/components/Tag.astro";
import type { CollectionEntry } from "astro:content";
import { cdate } from "@/lib/cdate";
import { SITE_TITLE } from "@/config";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const { title, tags } = post.data;

const { Content } = await post.render();

const publishAt = cdate(post.data.publishDate).format("YYYY年M月D日");
const updateAt =
  post.data.updateDate && cdate(post.data.updateDate).format("YYYY年M月D日");
---

<Layout
  title={`${title} | ${SITE_TITLE}`}
  openGraphType="article"
  openGraphImage={new URL(
    `/og/${post.slug}.png`,
    import.meta.env.SITE,
  ).toString()}
>
  <Header />

  <main class="mx-auto w-full max-w-3xl px-4 pb-12 pt-6">
    <section class="mb-8">
      <h1
        class="mb-6 text-center text-4xl font-bold text-primary lg:text-5xl"
        transition:name={title}
      >
        {title}
      </h1>
      <div class="mb-2 flex items-center justify-end gap-2">
        <span>{publishAt} 公開</span>
        {updateAt && <span>{updateAt} 更新</span>}
      </div>
    </section>
    <section class="mb-12">
      <article class="prose">
        <Content />
      </article>
    </section>
    <section>
      <div class="space-x-1">
        {tags.map((tag) => <Tag name={tag} />)}
      </div>
    </section>
  </main>

  <Footer />
</Layout>
